h1  {
    font-family: Header, serif;
}
body > *{
    font-family: Light, serif;
}
body {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.view {
    background-color: white;
    padding:10px 18px 10px 18px;
    border-radius: 10px;
}
.slider text {
    dy: 0.41em;
}

svg > g > g.slider > g > text {
    font-size: medium;
}

#year-slider > svg > g > g.slider > g > text {
    font-size: larger;

}

.axis--grid .domain {
    fill: #ddd;
    stroke: none;
}

.axis--x .domain,
.axis--grid .tick line {
    stroke: #fff;
}

.axis--grid .tick--minor line {
    stroke-opacity: .5;
}

.tick text {
    font-size: 1vh;
    font-weight: bold;
}

text {
    font-family: Light, serif;
}
/* container */
#header-row-container {
    display: flex;
}

#header-row-container h1 {
    padding-left: 80px;
}

.row {
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
}


#filter-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
    height: 85vh;
}

#filter-container > * {
    padding: 10px;
    font-size: 1.3vh;
}

#country-filter {
    height: 63vh;
    overflow: scroll;
}

.autocomplete > * {
    z-index: 10;
    background-color: white;
}

.autocomplete > *:hover {
    cursor: pointer;
}

#main-slider {
    background-color: white;
}
#out{
    background: #f0f3f5;
}
#left {
    float:left;
}
#right {
    float:right;
}

h1 {
    margin-top: 0;
    font-size: 1.2rem;
}

.source {
    font-size: 10px;
    color: #888;
}
.source a {
    color: #888;
}

.btn-group, .btn {
    width: 100%;
}

.node {
    z-index: 1;
    position: relative;
}

.link {
    z-index: -1;
    position: relative;
}

.link:hover,.link.hover,.link.highlight {
    stroke-width: 4;
}

.node:hover,.node.hover,.node.highlight {
    stroke-width: 4;
}

#filter-container > div.btn-group.btn-group-toggle > label.btn.btn-primary.active {
    border-color: black;
    border-width: 3px;
}

/* TODO: Might need to change later */
.country:hover {
    opacity: 0.8;
  }

#slider-group {
    display: inline-flex;
    width: 100%;
}

.relation-btn-group > .btn {
    height: 40px;
    width: 3.5vw;
    margin: 8px 2px 2px 2px;
}


/* Tooltip */
.tooltip-cus {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 2px solid #ddd;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    min-width: 160px;
    color: #333;
}
.tooltip-title {
    color: #000;
    font-size: 22px;
    font-weight: 600;
}
.tooltip-cus ul {
    margin: 5px 0 0 0;
    padding-left: 20px;
}

.slider-title {
    height: 3px;
    padding: 1px;
    font-weight: bolder;
}

@font-face {
    font-family: "Header";   /*Can be any text*/
    src: local("JosefinSans-Bold"),
    url("./font/JosefinSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Light";   /*Can be any text*/
    src: local("SecularOne-Regular"),
    url("./font/SecularOne-Regular.ttf") format("truetype");
}