.axis--grid .domain {
    fill: #ddd;
    stroke: none;
}

.axis--x .domain,
.axis--grid .tick line {
    stroke: #fff;
}

.axis--grid .tick--minor line {
    stroke-opacity: .5;
}

/* container */
#header-row-container {
    display: flex;
    width: 100%;
}

#header-row-container h1 {
    padding-left: 80px;
}

.row {
    padding: 10px;
}

#filter-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: white;
}

#filter-container>* {
    padding: 10px;
}

#country-filter {
    width: 100%;
    overflow: scroll;
}

#out{
    background: #f0f3f5;
}
#left {
    float:left;
}
#right {
    float:right;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    padding: 30px;
}

h1 {
    margin-top: 0;
    font-size: 1.2rem;
}

.source {
    font-size: 10px;
    color: #888;
}
.source a {
    color: #888;
}

.node {
    z-index: 1;
    position: relative;
}

.link {
    stroke: black;
    z-index: -1;
    position: relative;
}

.link:hover,.link.hover,.link.highlight {
    stroke-width: 4;
}

.node:hover,.node.hover,.node.highlight {
    stroke-width: 4;
}

/* TODO: Might need to change later */
.country:hover {
    opacity: 0.8;
  }
  

/* Tooltip */
.tooltip-cus {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 600;
    padding: 8px;
    min-width: 160px;
    color: #333;
}
.tooltip-title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
}
.tooltip-cus ul {
    margin: 5px 0 0 0;
    padding-left: 20px;
}

.slider-title {
    height: 3px;
    padding: 1px;
    font-weight: bolder;
}

.Textiles {
    fill: beige;
}

.Agriculture {
    fill:green;
}

.Stone {
    fill: grey;
}

.Minerals {
    fill: saddlebrown;
}

.Metals {
    fill: gold;
}

.Chemicals {
    fill: cornflowerblue;
}

.Vehicles {
    fill: black;
}

.Machinery {
    fill: #842029;
}

.Electronics {
    fill: red;
}

.Other {
    fill:pink;
}